@import '../assets/variables.scss';

body {
  margin: 0;
  padding: 0;
  font-family: 'Rubik', sans-serif;
  font-size: 12pt;
  color: $fulltimeforce-blue;
  background: $fulltimeforce-blue;
}

/* Fix antd styles */
.ant-spin-nested-loading > div > .ant-spin {
  max-height: 100% !important;
}