@import '../assets/variables.scss';

.ant-layout {
  .ant-page-header, .ant-page-header-ghost {
    position: sticky;
    top: 0;
    z-index: 99;
    background: $fulltimeforce-white;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  }
  .ant-page-header-heading-title {
    color: $fulltimeforce-blue;
  }
}

.ant-layout-content {
  padding: 2em;
  background: $fulltimeforce-blue;

  .ant-card-head-title{
    font-weight: bold;
    color: $fulltimeforce-blue;
  }
  .custom-card-size {
    height: 45em;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .commit-history-card {
    overflow-x: auto;
  }

  .avatar {
    max-width: 100%;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.2), 0 5px 20px 0 rgba(0, 0, 0, 0.15);
  }

  .commit-title {
    margin-right: .5em;
  }
}
